# BASE DE DATOS
DATABASE_URL=mysql+pymysql://root:securepassword@localhost:3306/sistema_facturacion
MYSQL_USER=root
MYSQL_PASSWORD=securepassword
MYSQL_DB=sistema_facturacion

# SEGURIDAD (JWT)
# Generar una clave secreta segura en producción con: openssl rand -hex 32
SECRET_KEY=3948bf83e298db39487cbe8d2983d9e830bf9f48abdb923cde8de83fb
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# CONFIGURACIÓN GENERAL
PROJECT_NAME="Sistema de Monitoreo de Facturación Contable con IA"
ENVIRONMENT=development
